/*
Colors used:
Primary Color (ORANGE): #d46d18; RGBA: (212,109,27,1.0)
Secondary Color (DARK GREY): #52514f; RGBA: (82,81,79,1.0)
Secondary Color (LIGHT GREY): #bebcbb; RGBA: (212,188,187,1.0)

font-family: 'Montserrat', sans-serif;
*/

header {
  background-color: #ffffff;
  position: relative;
  padding: 0px;
  margin: 0px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
.nav-container {
  width: 80%;
  margin: 0 auto;
}
header::after {
  content: '';
  display: table;
  clear: both;
}
.shell {
  float: left;
  width: 10%;

}
nav {
  float: right;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 35px;
}

nav>ul>li a {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 10px;
}


* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
  color: #030E28;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 20px;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;

}

#about-image {
  padding-top: 15px;
  padding-right: 40px;
  padding-bottom: 15px;
  padding-left: 40px;
  margin-right: 25px;
  margin-left: 25px;
}
#about-image img {
  padding: 5px;
  width: 60%;
}

a {
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 800;
  text-decoration: none;
  /* No underlining */
}

a:hover, a:focus {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #ffffff;
}
.header > container {
  max-width: 1200px;
}

.button {
  border-radius: 4px;
  background-color: #70C8BC;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 17px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.container {
  padding: 0 15px;
}

#imagegrid1 .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
#imagegrid1 .column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}
#imagegrid1 .column img {
  margin-top: 8px;
 vertical-align: middle;
 width: 100%;
}
.row-header {
  margin: 5px 0;
}

.row-header::after {
  content: "";
  clear: both;
  display: table;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#hero {
  margin-bottom: 0px;
  padding-top: 20px;

}
#hero h3 {
  color:#000000;
  padding-left: 50px;
}
#hero h1 {
  color:#52514f;
  padding-left: 50px;
  margin-top: 50px;
  margin-bottom: 0px;
}
}

#contact {
  background: #EDEAEA;
}
#work {
  padding-top: 15px;
  padding-right: 40px;
  padding-bottom: 15px;
  padding-left: 40px;
  margin-right: 25px;
  margin-left: 25px;
}
#work h2 {
  text-align: center;
}

#work img {

  padding: 5px;
}
hr.new1 {
  border-radius: 5px #007DC7
}
.zoom {
  padding: 50px;
  transition: transform .2s;
  /* Animation */
  margin: 0 auto;
  display: inline-block;
}

.zoom:hover {
  transform: scale(1.5);
}

#project {
  padding-top: 15px;
  padding-right: 40px;
  padding-bottom: 15px;
  padding-left: 40px;
  margin-right: 25px;
  margin-left: 25px;
}

#project img {

  padding: 5px;
}
#project ul {

}



.row:after {
  display: table;
  clear: both;
}
.card-container {
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
  column-gap: 2rem;
  padding: 1rem;
}
.aboutimg {
  shadow: 2px 4px 8px 3px Gainsboro;
}
.card {
    box-shadow: 2px 4px 8px 3px Gainsboro;
    border-radius: 10px;
}
.card:hover {
 box-shadow: 4px 8px 16px 6px Gainsboro;;
}
.card img {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}


.card img:hover {
  opacity: 0.3;

}

.text {
  display: none;
}
.card_thumbnail:hover .text{
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  backface-visibility: hidden;
}
.card__description {
  background-color: white;
    padding: .5rem;
    line-height: 1.6em;
    border-radius: 0 0 10px 10px;
}
#email-marketing {
  padding-top: 15px;
  padding-right: 40px;
  padding-bottom: 15px;
  padding-left: 40px;
  margin-right: 25px;
  margin-left: 25px;

}
.row4 {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}
.column4 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
}

.column4 img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}



/*##################*/
/*Top and Bottom Borders go Out */
.topbottombordersout a {
  position: relative;
  padding: 10px 10px;
  text-decoration: none;
  color: #030E28;
}

.topbottombordersout a:before, .topbottombordersout a:after {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 2px;
  background: #030E28;
  content: "";
  opacity: 0;
  transition: all 0.3s;
}

.topbottombordersout a:before {
  top: 0px;
  transform: translateY(10px);
}

.topbottombordersout a:after {
  bottom: 0px;
  transform: translateY(-10px);
}

.topbottombordersout a:hover:before, .topbottombordersout a:hover:after {
  opacity: 1;
  transform: translateY(0px);
  color: #030E28;
}

/*#################*/
.spacer {
  height: 50px;
}

.project-card h3 {
  margin-bottom: 20px;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle.responsive li {
  display: block;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  text-align: center;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column4 {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
@media screen and (max-width: 650px) {
	.shell {
    padding-top: 12px;
    padding-bottom: 12px;
    width: 12%;
  }
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 641px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  .col-md-6 {
    float: left;
    width: 50%;

  }

  [class*="col-"] {
    float: left;
    padding: 30px;
  }

  .col-md-8 {
    float: left;
    width: 66.66%;
  }

  .col-md-4 {
    float: left;
    width: 33.33%;
  }
  .nav-container {
    width: 80%;
    margin: 0 auto;
  }
  header::after {
    content: '';
    display: table;
    clear: both;
  }
  .shell {
    float: left;
    width: 10%;

  }
  nav {
    float: right;
    padding-top: 15px;
  }

  nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  nav li {
    display: inline-block;
    margin-left: 35px;
  }


  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  .col-lg-5 {
    float: left;
    width: 41.66%
  }

  .col-lg-7 {
    float: left;
    width: 58.33%
  }
  .nav-container {
    width: 80%;
    margin: 0 auto;
  }
  header::after {
    content: '';
    display: table;
    clear: both;
  }
  .shell {
    float: left;
    width: 8%;

  }
  nav {
    float: right;
    padding-top: 25px;
  }

  nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  nav li {
    display: inline-block;
    margin-left: 35px;
  }
  .aboutimg {
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
#work {
  width: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
  #project img {
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #project p {
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #project h4 {
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #project .ul {
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #project .li {
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #email-marketing {
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;

  }


  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }
.container{
      padding: 0 15px;
      width: 1000px;
      margin: 0px auto;
  }
  #hero img {
    width: 80%
  }


}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
  .shell {
    float: left;
    width: 6%;

  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }
  #project h4 {
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #project .ul {
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #project .li {
    width: 800px;
    display: block;
    margin-left: 0px auto;
    margin-right: auto;
  }
  #work img{
    max-width: 600px;
  }

  #project .ul .li {
    margin: 0px auto;
  }
.col-lg-6 {
  width: 50%;
}

}

/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (min-width: 1920px) {}
